---
---

@import "{{ site.theme }}";

.text-align-center {
    text-align: center;
  }

.img-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  dd {
    padding: .5rem;
    margin-right: .5rem;
  }